{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Question</label>
        {{input value=content id="content"}}
      </div>
      <button type="button" class="btn btn-primary" {{action 'saveQuestion1'}}>Post Question</button>
      <button type="button" class="btn btn-danger"{{action 'cancelQuestionForm'}}>Cancel</button>
    </form>
  </div>
{{else}}
  <button type="button" class="btn btn-primary"{{action 'questionFormShow'}}>Ask a Question</button>
{{/if}}
{{yield}}
