{{#link-to 'questions' question.id}}{{question.author}} <br> {{question.content}} <br> <em>Posted on: {{question.postedDate}}</em>{{/link-to}}
<br>
<button class="btn btn-success"{{action 'upVote' question}}>Upvote</button>
<button class="btn btn-danger"{{action 'downVote' question}}>Downvote</button>
{{question.totalVotes}}
<hr>
{{yield}}
